body{
    margin: 50px;
    padding: 0px;
    box-sizing: border-box;
}
#codedby{
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: -50px 0px 50px 10px;
}
#calculatorBody{
    background-color: skyblue;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding: 50px;
    margin: auto;
    box-shadow: 0px 0px 10px darkblue;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family: cursive, 'San-serif';
    font-weight: bold;
    margin-bottom: 20px;
}
#inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#YOB{
    font-size: 15px;
    font-family: cursive, 'San-serif';
}
#CY{
    font-size: 15px;
    font-family: cursive, 'San-serif';
}
#YOBinp{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}
#YOBinp:hover{
    border: navy;
    box-shadow: 0px 0px 10px navy;
}
#cyinp{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}
#cyinp:hover{
    border: navy;
    box-shadow: 0px 0px 10px navy;
}
#btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: cursive;
    background-color: deepskyblue;
    color: white;
}
#btn:hover{
    background-color: blue;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
#displayoutput{
    font-size: 15px;
    font-family: cursive, 'San-serif';
    text-align: center;
}
#output{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    user-select: none;
    text-align: center;
    align-items: center;
}